.board-details {
    text-align: center;
    padding: 10px;
}

.board-input {
    text-align: center;
}

.board-details-text {
    margin-right: 5px;
}

.board-details-select {
    margin-right: 5px;
}