/* .App {
  text-align: center;
} */

/* .note {
  background: rgb(255, 255, 52);
  padding: 15px;
  border: solid;
  border-width: 1px;
  margin: 25px;
} */

/* .details {
  border-style: solid;
  width: 250px;
  text-align: center;
} */