.menu-buttons {
    text-align: center;
    padding: 3px;
}

.menu-button {
    padding: 5px;
    width: 140px;
    display: inline;
    margin: 3px;
    border: solid;
    border-width: 1px;
    background: white;
}

.menu-button-center {
    text-align: center;
}